.navigation-clean-search {
  background:#465765;
  padding-top:10px;
  padding-bottom:50px;
  color:#f8f8f8;
  border-radius:0;
  box-shadow:none;
  border:groove;
  margin-bottom:1px;
  padding-left:1px;
}

@media (max-width:767px) {
  .navigation-clean-search {
    padding-top:1px;
    padding-bottom:1px;
  }
}

@media (max-width:767px) {
  .navigation-clean-search .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .navigation-clean-search .navbar-right {
    margin-bottom:20px;
  }
}

.navigation-clean-search .navbar-brand {
  font-family:monospace;
  font-size:70px;
  font-weight:inherit;
  color:inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color:#dcc1c1;
}

.navigation-clean-search.navbar-inverse .navbar-brand:hover {
  color:#f0f0f0;
}

.navigation-clean-search .navbar-brand img {
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.navigation-clean-search .navbar-toggle {
  border-color:#ddd;
}

.navigation-clean-search .navbar-toggle:hover, .navigation-clean-search .navbar-toggle:focus {
  background:none;
}

.navigation-clean-search.navbar-inverse .navbar-toggle {
  border-color:#555;
}

.navigation-clean-search .navbar-toggle .icon-bar {
  background-color:#888;
}

.navigation-clean-search.navbar-inverse .navbar-toggle .icon-bar {
  background-color:#eee;
}

.navigation-clean-search .navbar-collapse, .navigation-clean-search .navbar-form {
  border-top-color:#ddd;
}

.navigation-clean-search.navbar-inverse .navbar-collapse, .navigation-clean-search.navbar-inverse .navbar-form {
  border-top-color:#333;
}

.navigation-clean-search .navbar-nav > .active > a, .navigation-clean-search .navbar-nav > .open > a {
  background:none;
  box-shadow:none;
}

.navigation-clean-search.navbar-default .navbar-nav > .active > a, .navigation-clean-search.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-search.navbar-default .navbar-nav > .active > a:hover {
  color:#66d7d7;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-search.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean-search.navbar-default .navbar-nav > li > a {
  color:#465765;
}

.navigation-clean-search.navbar-default .navbar-nav > li > a:focus, .navigation-clean-search.navbar-default .navbar-nav > li > a:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean-search .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean-search .dropdown-menu > li > a:focus, .navigation-clean-search .dropdown-menu > li > a {
  line-height:20px;
  font-size:10px;
  color:#37434d;
}

.navigation-clean-search .dropdown-menu > li > a:focus, .navigation-clean-search .dropdown-menu > li > a:hover {
  background:#eee;
  color:inherit;
}

@media (max-width:767px) {
  .navigation-clean-search .navbar-nav .open .dropdown-menu {
    box-shadow:none;
  }
}

@media (max-width:767px) {
  .navigation-clean-search .navbar-nav .open .dropdown-menu > li > a {
    color:#37434d;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.navigation-clean-search.navbar-inverse {
  background-color:#1f2021;
  color:#fff;
}

.navigation-clean-search.navbar-inverse .navbar-nav > .active > a, .navigation-clean-search.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean-search.navbar-inverse .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-search.navbar-inverse .navbar-nav > li > a {
  color:#dfe8ee;
}

.navigation-clean-search.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean-search.navbar-inverse .navbar-nav > li > a:hover {
  color:#fff !important;
  background-color:transparent;
}

.navigation-clean-search.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color:#1f2021;
}

.navigation-clean-search.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-search.navbar-inverse .dropdown-menu > li > a {
  color:#f2f5f8;
}

.navigation-clean-search.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-search.navbar-inverse .dropdown-menu > li > a:hover {
  background:#363739;
}

@media (max-width:767px) {
  .navigation-clean-search.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color:rgba(0,0,0,0.0980392);
    /*width:500px;*/
    /*height:300px;*/
  }
}

.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background:#56c6c6;
  border-radius:20px;
  color:#fff !important;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
  padding-left:20px;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
  background:#66d7d7;
}

.navigation-clean-search.navbar-inverse .action-button, .navigation-clean-search.navbar-inverse .action-button:active {
  background:#208f8f;
}

.navigation-clean-search.navbar-inverse .action-button:hover {
  background:#269d9d;
}

.navigation-clean-search .navbar-form label {
  color:#ccc;
}

.navigation-clean-search .navbar-form .search-field {
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .navigation-clean-search .navbar-form .search-field {
    display:inline-block;
    width:80%;
  }
}

.navigation-clean-search .navbar-form .search-field:focus {
  border-bottom:1px solid #ccc;
}

a.text-uppercase {
  color:#dfe8ee;
  padding-left:18px;
  padding-right:18px;
}