nav {
    position: fixed;
    background-color: #B3A7A7;
    width: 8%;
    margin-left: 1%;
    border: 2px solid #B3A7A7;
    border-radius: 10px;
}

nav ul li{
    list-style-type: none;
    margin: auto;
    text-align: center;
    margin-left: -55%;
}
