{% extends "base.html" %}
{% block title %} IoT Home Inspector Home {% endblock %}
{% block body %}

    <div>
    {{browser}}
    <div>


    <p>Welcome to the Internet of Things Home Inspector. In the box below/above/whatever, enter the manufacturer and model of the device in question to see its latest software and/or firmware version.</p>

    <p>If you'd like to register, you can keep a list of your devices to simplify checking.</p>

    <ul>
        <li><h2>{{version}}</h2></li>
        <li><h2>Install Latest Version</h2></li>
        {% for pair in sf_links_titles %}
            <li><a href="{{pair.0}}">{{pair.1}}</a></li>
        {% endfor %}
        <li><h2>Security Vulnerabilities</h2></li>
        {% for pair in sec_links_titles %}
            <li><a href="{{pair.0}}">{{pair.1}}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
