{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iot2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel='stylesheet' href="{% static 'team.css' %}"
</head>

<body>
    <div class="team-boxed">
        <div class="container-fluid"><img src="assets/img/IoT_2_transparent.png.png">
            <div class="intro">
                <h2 class="text-center">TEAM IOT</h2>
                <p class="text-center">"We are dedicated to finding to the latest vulnerbilities for the home user"</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-sm-5">
                    <div class="box1"><img class="img-circle img-responsive" src="assets/img/conor.jpg" width="321px">
                        <h3 class="name">CONOR CLARY</h3>
                        <p class="title">SOFTWARE DEVELOPER</p>
                        <p class="text-center description">As a software developer with a background in operations management, I want to combine my experience as COO of two startups with my full-stack Python skill-set to make businesses more efficient and reach a greater profit potential.
                            </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5"><img class="img-circle img-responsive" src="assets/img/reggie.jpg" width="321px">
                    <div class="box1">
                        <h3 class="name">REGENAL GRANT</h3>
                        <p class="title">SOFTWARE DEVELOPER</p>
                        <p class="text-center description">As a software developer with a background in operations management, I want to combine my experience as COO of two startups with my full-stack Python skill-set to make businesses more efficient and reach a greater profit potential.
                            </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-0 col-sm-6">
                    <div class="box3"><img class="img-circle img-responsive" src="assets/img/joey.jpg">
                        <h3 class="name">JOEY DEROSA</h3>
                        <p class="title">SOFTWARE DEVELOPER</p>
                        <p class="lead description">Spent my time in high school coding as a hobby and then attended classes to get an advanced education in Python </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-0 col-sm-6 type"><img class="img-circle img-responsive" src="assets/img/rick.jpg">
                    <div class="box3">
                        <h3 class="name">RICK VALENZUELA</h3>
                        <p class="title">SOFTWARE DEVELOPER</p>
                        <p class="lead description">Spent my time in high school coding as a hobby and then attended classes to get an advanced education in Python </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
